.title {
  margin-top: 1rem;
}

.button .buttonEventsMap {
  background-color: blueviolet;
  color: black;
  border-color: blueviolet;
  margin: 5px;
}

.button .buttonEventsMap:hover {
  background-color: blueviolet !important;
  border-color: blueviolet;
  outline: none;
  box-shadow: none !important;
}

.button .buttonEventsMap:focus {
  background-color: blueviolet !important;
  border-color: blueviolet;
  outline: none;
  box-shadow: none !important;
}

.button .buttonEventsMap:active {
  background-color: blueviolet !important;
  border-color: blueviolet;
  outline: none;
  box-shadow: none !important;
}

.button .buttonClicksMap {
  background-color: magenta;
  color: black;
  border-color: magenta;
  margin: 5px;
}

.button .buttonClicksMap:hover {
  background-color: magenta !important;
  border-color: magenta;
  outline: none;
  box-shadow: none !important;
}

.button .buttonClicksMap:focus {
  background-color: magenta !important;
  border-color: magenta;
  outline: none;
  box-shadow: none !important;
}

.button .buttonClicksMap:active {
  background-color: magenta !important;
  border-color: magenta;
  outline: none;
  box-shadow: none !important;
}

.button .buttonRevenueMap {
  background-color: lime;
  color: black;
  border-color: lime;
  margin: 5px;
}

.button .buttonRevenueMap:hover {
  background-color: lime !important;
  border-color: lime;
  outline: none;
  box-shadow: none !important;
}

.button .buttonRevenueMap:focus {
  background-color: lime !important;
  border-color: lime;
  outline: none;
  box-shadow: none !important;
}

.button .buttonRevenueMap:active {
  background-color: lime !important;
  border-color: lime;
  outline: none;
  box-shadow: none !important;
}

.button .buttonImpressionsMap {
  background-color: yellow;
  color: black;
  border-color: yellow;
  margin: 5px;
}

.button .buttonImpressionsMap:hover {
  background-color: yellow !important;
  border-color: yellow;
  outline: none;
  box-shadow: none !important;
}

.button .buttonImpressionsMap:focus {
  background-color: yellow !important;
  border-color: yellow;
  outline: none;
  box-shadow: none !important;
}

.button .buttonImpressionsMap:active {
  background-color: yellow !important;
  border-color: yellow;
  outline: none;
  box-shadow: none !important;
}

.button .buttonMapTable {
  background-color: #940031;
  color: white;
  border-color: #940031;
  margin: 5px;
}

.button .buttonMapTable:hover {
  background-color: #940031 !important;
  border-color: #940031;
  outline: none;
  box-shadow: none !important;
}

.button .buttonMapTable:focus {
  background-color: #940031 !important;
  border-color: #940031;
  outline: none;
  box-shadow: none !important;
}

.button .buttonMapTable:active {
  background-color: #940031 !important;
  border-color: #940031;
  outline: none;
  box-shadow: none !important;
}
